  /* VideoJS TITLE BAR BEGIN */
  .video-js .vjs-title-bar {
    background: rgba(0, 35, 69, 0.9);
    color: white;
    font-family: Roboto;
    
    /*
      By default, do not show the title bar.
    */
    text-align: left;
    display: none;
    font-size: 14px;
    font-weight: 400;
    padding: 1em;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  /* 
    Only show the title bar after playback has begun (so as not to hide
    the big play button) and only when paused or when the user is 
    interacting with the player.
  */
  .video-js.vjs-paused.vjs-has-started .vjs-title-bar,
  .video-js.vjs-user-active.vjs-has-started .vjs-title-bar{

    display: block;
  }
    /* VideoJS TITLE BAR END */